﻿@model IEnumerable<FestivalSiteWeb.Models.Artiste>

@{
    ViewBag.Title = "Rechercher";


}
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/css/album.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/carousel.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

    <title>Rechercher Artiste</title>
</head>
<h2>Rechercher</h2>

<form>
    <p>
        <b>Entrez le nom de l'artiste que vous souhaitez rechercher:</b> <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaysOrigine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptif)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaysOrigine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descriptif)
                    </td>

                </tr>
            }
        </tbody>
    }
</table>
