﻿
@{
    ViewBag.Title= "ConfirmationInscription";
    Layout = "~/Views/Shared/ViewForOrganiser.cshtml";
}

<h2>Inscription confirmée!</h2>

<h4>Votre inscription a bien été prise en compte!</h4>

<hr />

<h6>Veuillez prendre contact avec le gestionnaire en précisant votre identifiant ainsi que le nom du festival que vous souhaitez organiser.</h6>

<div>
    <a asp-action="Index">Retour à la page d'accueil</a>
</div>