﻿
@{
    ViewBag.Title= "OuverturesInscriptions";
    ICollection<FestivalSiteWeb.Models.Festival> festivals = (ICollection<FestivalSiteWeb.Models.Festival>)ViewData["festivals"];
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations générales de l'ensemble des festivals</title>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        table {
            width: 100%;
        }

        input {
            margin: 3%;
        }

        p, h2 {
            margin: 2%;
        }

        ul {
            margin: 1%;
        }

        .vc_custom_1490372781882 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1490368652038, .vc_custom_1490478636108, .vc_custom_1490601068179 {
            margin-bottom: 20px !important;
        }

        .vc_custom_1479401927563 {
            margin-top: 30px !important;
        }

        .vc_custom_1529307597558 {
            margin-bottom: 20px !important;
            padding-top: 10px !important;
        }
    </style>
</head>

<body style="background-color: black; color: white;">
    <div class="container">


        <h2 style="text-align: left" class="cms-heading-inner"><span></br></br>Liste des festivals disponibles</span></h2>
        <div class="row espace">
            <div style="text-align: center" class="col-lg-7 espace">

                <table class="table">
                    <thead>
                        <tr style="color: darkred;">
                            <th scope="col">Nom </th>
                            <th scope="col">Inscriptions Ouvertes</th>
                        </tr>

                    </thead>
                    @foreach (FestivalSiteWeb.Models.Festival fest in festivals)
                    {
                        @if (fest.IsPublic == true)
                        {
                            <tbody>

                                <tr>
                                    <th scope="row">  @fest.Nom
                                    <th />
                                    <th>@fest.PossibiliteDInscription</th>
                                </tr>

                            </tbody>
                        }

                    }
                </table>
            </div>

        </div>
    </div>

    <input type="button" value="Retour à la page d'accueil" onclick="window.location.href='/Home/Index'" /><br /><br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Groupe 4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>

</html>

