﻿
@using FestivalSiteWeb.Models;

@{
    ViewBag.Title = "AjoutSelecPrincArtistesFav";
}
<div id="first">
    <div id="space-left">
        <div id="borderbottom">
            <h2>Artistes de ce festival présents dans votre liste:</h2>
        </div>


        @{
            int compteur = 0;
        }

        <table class="table table-hover" id="font14">

            <tbody>
                @foreach (var item in ViewData["thelist"] as IList<string>)
                {
                    <tr>
                        <td>@item</td>
                        <td>
                            @using (Html.BeginForm("AjoutArtiste", "Artiste", new { artiste = item }))
                            {
                                <input type="submit" value="Ajouter" class="btn btn-secondary btn-lg" />

                            }
                        </td>
                    </tr>
                    compteur++;
                }
            </tbody>
        </table>

        @if (compteur == 0)
        {
            <div class="alert alert-info" role="alert">
                Vous avez déjà ajouté tous les artistes de ce festival comme artistes favoris.
            </div>
        }

    </div>
</div>

