﻿@using FestivalSiteWeb.Models;
@{
    ViewBag.Title = "Enregistrement Artiste";
    Layout = null;
}


<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        section.login-container {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(243,156,18,0.8);
        }

            section.login-container > div {
                width: 450px;
                margin: auto;
                padding: 20px;
                text-align: center;
                background: #eee;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            section.login-container form {
                display: flex;
                flex-direction: column;
            }

        form input[type="file"], form input[type="text"], form button[type="submit"] {
            width: 100%;
            margin-bottom: 25px;
            padding: 10px;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: 0;
        }

            form input[type="text"]:focus, form input[type="text"]:hover, form input[type="file"]:focus, form input[type="file"]:hover {
                background-color: #ccc;
            }

        form button[type="submit"] {
            font-weight: bold;
            color: #eee;
            text-transform: uppercase;
            background-color: #e67e22;
        }

            form button[type="submit"]:focus, form button[type="submit"]:hover {
                background-color: #d35400;
            }
    </style>

</head>

<body style="background-color: navajowhite">
    <div class="wrapper">

        <section class="login-container">
            <div>
                <header>
                    <h2>Enregistrement d'un artiste</h2>
                </header>
                <form action="/Artiste/EnregistrementArtiste" method="post">
                    <input type="text" name="Nom" placeholder="Nom" required />
                    <label>Choisir la photo de l'artiste</label>
                    <input type="file" name="PhotoUrl" accept="image/*">
                    <input type="text" name="Style" placeholder="Style" required />
                    <input type="text" name="Descriptif" placeholder="Court descriptif" required />
                    <input type="text" name="PaysOrigine" placeholder="Pays d'origine" required />
                    <input type="text" name="Extrait" placeholder="Extrait musical" required />
                    <button type="submit">Enregistrer</button>
                    <br /><br /><font size="4px"><input type="button" value="Retour à la page d'accueil" onclick="window.location.href='/Organisateur/Index'" /></font>
                </form>
            </div>
        </section>
    </div>
</body>
