﻿
@{
    ViewData["Title"] = "Connexion Organisateur";
    Layout = null;

}

@model SiteWeb.Models.OrganisateurViewModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body style=" background-color: palevioletred ">
    <div class="row justify-content-center connexion ">
        <form class="form-signin col-md-6" action="/Organisateur/ConnexionOrganisateur" method="post">
            <br /><br /><h1 class="h3 mb-3 font-weight-normal" style="color: lawngreen"> Identification d'un organisateur</h1><br /><br />
            <label for="Identifiant" class="sr-only">Identifiant</label>
            <input class="form-control" type="text" id="Identifiant" required="" name="Login" placeholder="Identifiant" />
            <label for="Mot de passe" class="sr-only">Mot de passe</label>
            <br /><input class="form-control" type="password" id="Mot de passe" required="" name="Password" placeholder="Mot de passe" />
            <br /><input type="submit" value="Connexion" class="btn btn-default">
            <a href="InscriptionOrganisateur" class="linklog" style="color:white;"><font size="4px"><strong><em>S'inscrire en tant qu'organisateur</em></strong></font> </a>
            <br /><br /><font size="4px"><input type="button" value="Retour à la page d'accueil" onclick="window.location.href='/Home/Index'" /></font>
        </form>


    </div>
</body>