﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ViewForOrganiser.cshtml";
}

<h2>Index</h2>
<hr />
<h4>Bienvenue <strong>@TempData["NomOrganisateur"]</strong></h4>


@ViewBag.Message