﻿
@{
    ViewData["Title"] = "Inscription Organisateur";
    Layout = null;
}


<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        section.login-container {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(243,156,18,0.8);
        }

            section.login-container > div {
                width: 450px;
                margin: auto;
                padding: 20px;
                text-align: center;
                background: #eee;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            section.login-container form {
                display: flex;
                flex-direction: column;
            }

        form input[type="password"], form input[type="text"], form button[type="submit"] {
            width: 100%;
            margin-bottom: 32px;
            padding: 10px;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: 0;
        }

            form input[type="text"]:focus, form input[type="text"]:hover, form input[type="password"]:focus, form input[type="password"]:hover {
                background-color: #ccc;
            }

        form button[type="submit"] {
            font-weight: bold;
            color: #eee;
            text-transform: uppercase;
            background-color: #e67e22;
        }

            form button[type="submit"]:focus, form button[type="submit"]:hover {
                background-color: #d35400;
            }

        h1, h3 {
            margin: 2%;
            height: 100 px;
            font-weight: bold;
        }

        a {
            font-size: 1.5em;
        }
    </style>

</head>

<body style="background-color: navajowhite">
    <div class="wrapper">
        <h1>Vous souhaitez confier l'organisation d'un festival à un organisateur?</h1>
        <h3>Inscrivez-le en remplissant le formulaire ci-dessous afin de lui permettre d'accéder aux options d'organisation de votre festival sur la plateforme!</h3>
        <section class="login-container">
            <div>
                <header>
                    <h2>Inscription d'un organisateur</h2>
                </header>
                <form action="/Organisateur/InscriptionOrganisateur" method="post">
                    <input type="text" name="Login" placeholder="Identifiant" required />
                    <input type="password" name="Password" placeholder="Mot de passe" required />
                    <button type="submit">Valiser son inscription</button>
                    <a href="ConnexionOrganisateur" class="linklog" style="color:midnightblue;"><strong><em>Déjà inscrit ? Cliquez ici pour accéder à la page de connexion!</em></strong></a>
                </form>
            </div>
        </section>
    </div>
</body>
