﻿
@{
    ViewData["Title"] = "ProgrammerFestival";
    Layout = "~/Views/Shared/ViewForOrganiser.cshtml";
}

<h2>ProgrammerFestival</h2>

<h3><strong>@ViewData["NomFestival"] @ViewBag.MessageErreur @ViewData["NomOrga"]</strong></h3>