﻿
@{
    ViewBag.Title = "Index";
}

<div id="first">
    <div id="space-left">
        <div id="mid">
            <h2> @ViewBag.nom Bienvenue sur votre compte!</h2>
        </div>
        <p>Vous êtes à présent connectés dans votre espace personnel </p>
        <p>
            Maintenant vous pouvez sélectionnez <b>la liste de vos artistes favoris</b>.
        </p>
        <p>
            Vous pouvez <b>envoyer ses listes à vos amis</b> qui participent aussi à ce festival.
        </p>
        <p>
            Vous pouvez aussi <b>voir vos sélections et les télécharger en version imprimable PDF</b>.
        </p>
    </div>
</div>


