﻿
@{
    ViewBag.Title = "InscriptionFestivalier";
    Layout = null;
}

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        section.login-container {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(0,0, 255);
        }

            section.login-container > div {
                width: 500px;
                margin: auto;
                padding: 10px;
                text-align: center;
                background: #eee;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            section.login-container form {
                display: flex;
                flex-direction: column;
            }

        form select, form input[type="email"], form input[type="date"], form input[type="password"], form input[type="text"], form button[type="submit"] {
            width: 100%;
            margin-bottom: 25px;
            padding: 10px;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: 0;
        }

            form select, form input[type="text"]:focus, form input[type="text"]:hover, form input[type="date"]:focus, form input[type="date"]:hover,
            form input[type="email"]:focus, form input[type="email"]:hover, form input[type="password"]:focus, form input[type="password"]:hover {
                background-color: #ccc;
            }

        form button[type="submit"] {
            font-weight: bold;
            color: #eee;
            text-transform: uppercase;
            background-color: #0000FF;
        }

            form button[type="submit"]:focus, form button[type="submit"]:hover {
                background-color: #0000FF;
            }
    </style>

</head>

<body style="background-color: navajowhite">
    <div class="wrapper">

        <section class="login-container">
            <div>
                <header>
                    <h2>Inscription d'un festivalier</h2>
                </header>
                <form action="/Festivalier/InscriptionFestivalier" method="post">
                    <input type="text" name="Nom" placeholder="Nom" required />
                    <input type="text" name="Prenom" placeholder="Prenom" required />
                    <input type="date" name="Date" placeholder="Date de naissance" required />
                    <input type="email" name="Email" placeholder="Email" required />
                    <input type="Password" name="Password_Festivalier" placeholder="Mot de passe" required />
                    <input type="text" name="CodePostal" placeholder="CodePostal" required />
                    <select name="genre" id="genre-select">
                        <option selected disabled>Genre</option>
                        <option valeur="H">Homme</option>
                        <option valeur="F">Femme</option>
                        <option valeur="N">Neutre</option>
                        <option valeur="NVPD">Ne veut pas dire</option>
                    </select>
                    <input type="text" name="Commune" placeholder="Commune" required />
                    <input type="text" name="Pays" placeholder="Pays" required />
                    <button type="submit">Enregistrer</button>
                </form>
            </div>
        </section>
    </div>
</body>
