﻿
@{
    ViewData["Title"] = "ConsulterInfosGenerales";
    ICollection<FestivalDeMuzik.Models.Festival> festivals = (ICollection<FestivalDeMuzik.Models.Festival>)ViewData["festivals"];
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informations générales de l'ensemble des festivals</title>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        table {
            width: 100%;
        }

        input {
            margin: 3%;
        }

        p, h2 {
            margin: 2%;
        }

        ul {
            margin: 1%;
        }

        .vc_custom_1490372781882 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1490368652038, .vc_custom_1490478636108, .vc_custom_1490601068179 {
            margin-bottom: 20px !important;
        }

        .vc_custom_1479401927563 {
            margin-top: 30px !important;
        }

        .vc_custom_1529307597558 {
            margin-bottom: 20px !important;
            padding-top: 10px !important;
        }
    </style>
</head>

<body style="background-color: black; color: white;">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-12 cms_animate">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper" data-wow-delay="" data-wow-duration="">
                        <div class="vc_custom_heading VAGRounded-Bold2 vc_custom_1490368652038 "><h2 style="text-align: left" class="cms-heading-inner"><span>Informations générales relatives à l'ensemble des festivals </span></h2></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1479401927563">
                            <div class="wpb_column vc_column_container vc_col-sm-12 cms_animate">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper" data-wow-delay="" data-wow-duration="">
                                        <div class="vc_icon_element vc_icon_element-outer vc_custom_1490372781882 gauche vc_icon_element-align-left"><div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon fa fa-exclamation-triangle" style="color: #eded1e !important "></span></div></div><div class="vc_custom_heading VAGRounded-Bold vc_custom_1529307597558 "><p style="font-size: 24px;text-align: left" class="cms-heading-inner"><span># FAN PAS GOGO</span></p></div>
                                        <div class="wpb_text_column wpb_content_element  texte">
                                            <div class="wpb_wrapper">
                                                <p>En 2018, le PRODISS a lancé <strong>la campagne #Fan Pas Gogo afin de lutter contre la revente illicite de billets de spectacles.</strong> Cette campagne a pour objectif de sensibiliser le public et les professionnels face aux risques encourus. Vous pouvez retrouver toutes les informations de la campagne sur <a href="http://eye.communication.prodiss.org/c?p=xBDsRf5FaSfQx03QjhIsNNCm0M_QghXEEH7Qnx4C6NDTN0bQlXp4KdCxAetkuGh0dHA6Ly93d3cuZmFucGFzZ29nby5mcqUxMjY5NMQQZvrQgtC-0L0DckXQi9CN0MY50IEKXdCtvWV5ZS5jb21tdW5pY2F0aW9uLnByb2Rpc3Mub3JnxBQc0JLQqNDeNOrQmu8N0KfQjSdlXXLxNHJ30LE">www.fanpasgogo.fr</a>.</p>
                                                <p>Afin de communiquer efficacement auprès du public, <strong>le PRODISS a créé un spot de sensibilisation de 30 secondes.</strong></p>
                                                <p>Si vous souhaitez y jeter un coup d’œil rapide, vous pouvez la retrouver en ligne ici :<a href="http://eye.communication.prodiss.org/c?p=xBDsRf5FaSfQx03QjhIsNNCm0M_QghXEENDW0Ksz7zIlG0rQntDRY9C-DdDb8dDGu2h0dHBzOi8vdmltZW8uY29tLzI3NDcwOTU4MqUxMjY5NMQQZvrQgtC-0L0DckXQi9CN0MY50IEKXdCtvWV5ZS5jb21tdW5pY2F0aW9uLnByb2Rpc3Mub3JnxBQc0JLQqNDeNOrQmu8N0KfQjSdlXXLxNHJ30LE">https://vimeo.com/274709582</a></p>

                                            </div>
                                        </div>
                                        <div class="wpb_video_widget wpb_content_element">
                                            <div class="wpb_wrapper">
                                                <div class=" wpb_video_wrapper "><iframe src="https://player.vimeo.com/video/274709582?app_id=122963" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen></iframe></div>
                                            </div>
                                        </div>
                                        <div class="vc_custom_heading VAGRounded-Bold vc_custom_1490372215283 "><p style="font-size: 24px;text-align: left" class="cms-heading-inner"><span></br>AVERTISSEMENT SUR LA REVENTE ILLICITE DE BILLETS DE SPECTACLES</span></p></div>
                                        <div class="wpb_text_column wpb_content_element  texte">
                                            <div class="wpb_wrapper">
                                                <h3 class="spip"><strong>La loi numéro 2012-348 du 12 mars 2012 protège les spectateurs contre la revente des billets par toute société ou personne physique non agréées par le producteur du spectacle.</strong></h3>
                                                <p><strong>En application de cette loi (article 313-6-2 du code pénal), il est interdit de revendre des billets de spectacle de manière habituelle sans l’autorisation express de producteur du spectacle.<br class="manualbr" />Le non respect de l’article 313)6-2 du code pénal est puni de 15000€ d’amende. Cette peine est portée à 30000€ en cas de récidive.<br class="manualbr" />N’achetez pas de billet à une personne qui n’est pas en mesure de vous garantir qu’elle dispose de l’agrément du producteur. Dans le cas contraire, vous pourriez vous retrouver sans recours si les billets ne vous sont pas délivrés ou si les billets délivrés ne vous donne pas accès au spectacle.<br class="manualbr" />Le nom du producteur figure sur chacun des billets émis<br class="manualbr" />Contactez ce dernier ou consultez son site internet.</strong></p>

                                            </div>
                                        </div>
                                        <div class="divider vc_separator wpb_content_element vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey" style=" height: 1px; border-top: 1px solid grey">
                                        </div>
                                    </div>

                                    <div class="vc_custom_heading VAGRounded-Bold2 vc_custom_1490601068179 "><h2 style="text-align: left" class="cms-heading-inner"><span></br>CONSIGNES D'ACCES </span></h2></div>
                                    <div class="wpb_text_column wpb_content_element  texte">
                                        <div class="wpb_wrapper">
                                            <h3 class="spip">
                                                <strong>
                                                    Chers Festivaliers, pour votre confort et votre sécurité, nous vous informons de quelques points importants ci-dessous :<br />
                                                </strong>
                                            </h3>
                                            <p>Il est désormais formellement interdit d'introduire dans l'enceinte des Arènes tout contenant (bouteilles plastiques, canettes) peu importe leur contenu.</p>
                                            <p>
                                                <strong>
                                                    • Palpations des spectateurs aux entrées et inspections visuelles des sacs<br />
                                                </strong>
                                            </p>
                                            <p><strong>• Billet ou titre d'accès obligatoire pour toute personne adulte ou enfant, y compris en bas âge. Chaque billet est nominatif, personnel et incessible. Une pièce d’identité pourra être demandée au porteur du billet. </strong></p>
                                            <p>
                                                <strong>• P</strong><strong><u>our des questions de santé auditive et de sécurité</u>, l'entrée est fortement déconseillée aux enfants de moins de 10 ans non-équipés de protections auditives adaptées.</strong><br />
                                                <strong>Si, toutefois, vous décidez de venir avec un enfant de moins de 10 ans non-équipé de protections auditives adaptées, <u>le festival et l'organisateur ne sauront être tenus pour responsables des troubles qui pourraient survenir à la suite de l’évènement.</u></strong>
                                            </p>
                                            <p><strong>• Toute sortie des Arènes sera considérée comme définitive</strong></p>
                                            <p>
                                                <strong>
                                                    • Aucun sac d'un contenant de plus de 20 litres n'est autorisé dans l'enceinte des Arènes et ne sera pris en consigne (sacs autorisés par exemple version Eastpak, Camelbak refusés)<br />
                                                </strong>
                                            </p>
                                            <p><strong>• Armes et objets dangereux sont interdits</strong></p>
                                            <p>
                                                <strong>
                                                    • Pas de substance alcoolisée autorisée<br />
                                                </strong>
                                            </p>
                                            <p><strong>• Sandwichs autorisés</strong></p>
                                            <p><strong>• Tout spectateur présentant des signes d'ébriété lors de son arrivée aux entrées pourra se voir refuser l'accès au concert, après avis du médecin présent sur place</strong></p>
                                            <p>
                                                <strong>
                                                    • Appareils d'enregistrement visuel ou sonore prohibés. Appareils photo au-delà du 50 mm interdits (pas de GoPro)<br />
                                                </strong>
                                            </p>
                                            <p><strong>• Les casques de nos amis motards seront pris en consigne gratuitement</strong></p>
                                            <h3>Bon Festival à Toutes et Tous !</h3>

                                        </div>
                                    </div>
                                    <div class="divider vc_separator wpb_content_element vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey" style=" height: 1px; border-top: 1px solid grey">
                                    </div>
                                    <div class="vc_custom_heading VAGRounded-Bold2 vc_custom_1490478636108 "><h2 style="text-align: left" class="cms-heading-inner"><span></br>C'est où ? Par ici !</span></h2></div><div class="wpb_gmaps_widget wpb_content_element vc_map_responsive">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_map_wraper">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1336893.3205336325!2d-1.197109825121406!3d49.12236051613132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e1bd6c23f8c087%3A0x26f2f1561148e202!2sNormandie!5e0!3m2!1sfr!2sfr!4v1588642835457!5m2!1sfr!2sfr" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider vc_separator wpb_content_element vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey" style=" height: 1px; border-top: 1px solid grey">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h2 style="text-align: left" class="cms-heading-inner"><span></br></br>Liste des festivals disponibles</span></h2>
        <div class="row espace">
            <div style="text-align: center" class="col-lg-7 espace">

                <table class="table">
                    <thead>
                        <tr style="color: darkred;">
                            <th scope="col">Nom </th>
                            <th scope="col" style="color:black">Identifiant1 </th>
                            <th scope="col">Court descriptif </th>
                            <th scope="col">Commune </th>
                            <th scope="col">Accessible / Complet</th>
                            <th scope="col">Date</th>
                            <th scope="col">Tarif (€)</th>
                        </tr>

                    </thead>
                    @foreach (FestivalDeMuzik.Models.Festival fest in festivals)
                    {
                        @if (fest.IsPublic == true)
                        {
                        <tbody>

                            <tr>
                                <th scope="row">  @fest.Nom
                                <th />
                                <th>@fest.CourtDescriptif</th>
                                <th>@fest.Commune</th>
                                @if (fest.NombreDePlaces > fest.NombreDeVentes)
                                {
                                    <th>Accessible</th>
                                }
                                else
                                {
                                    <th>Complet</th>
                                }
                                <th>@fest.Date</th>
                                <th>@fest.Tarif</th>
                            </tr>

                        </tbody>
                            }

                        }
                </table>
            </div>

        </div>

        <input type="button" value="Retour à la page d'accueil" onclick="window.location.href='/Home/Index'" /><br /><br />
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Groupe 4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
</body>

</html>

