﻿@{
    ViewBag.Title= "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<FestivalSiteWeb.Models.Artiste> artiste = (ICollection<FestivalSiteWeb.Models.Artiste>)ViewData["artistes"];

}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/Content/css/album.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/carousel.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

    <title>Bienvenue sur le site de Festival Normand !!</title>
</head>
<body>

    <!--jumbottron-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="~/Content/Images/slide2.jpg" alt="First slide" />
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Bienvenue sur notre site.</h1>
                        <p>Vous trouverez ici toutes les informations sur les festivals que vous recherchez.</p>

                        <p><a class="btn btn-lg btn-primary" href="pages/inscription.php" role="button">Cliquez ici pour vous inscrire</a></p>


                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide" src="~/Content/Images/slide5.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Découvrez l'ensemble de nos festivals</h1>
                        <p>L'édition 2021 de l'Armada à Rouen. Ne ratez rien de ce que nous vous avons prévu </p>

                        <p><a class="btn btn-lg btn-primary" href="pages/inscription.php" role="button">Cliquez ici pour vous inscrire</a></p>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="~/Content/Images/slide6.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>De nouveaux Styles de musique inclus</h1>
                        <p>Les sonates de Mozart en exclusivité!!!  </p>

                        <p><a class="btn btn-lg btn-primary" href="pages/inscription.php" role="button">Cliquez ici pour vous inscrire</a></p>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr class="featurette-divider">
    <h3 class="body-content">Qui dit été, dit festival de musique. Mais alors, parmi les centaines de festivals qui se déroulent chaque année en France (et je ne parle même pas de ceux qui ont lieu à l’étranger, lequel choisir ? Et même si l’on aimerait bien assister à tous parce que, il faut le dire, les programmations sont quand même exceptionnelles, ce n’est parfois pas possible. Il faut choisir.</h3>
    <hr class="featurette-divider">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Liste des artistes invités</p>

        <main role="main">
            <div class="album py-5 bg-light">
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr style="color: darkred;">
                                <th scope="col">Nom </th>
                                <th scope="col" style="color:black">Artiste </th>

                                <th scope="col">Pays d'origine </th>
                                <th scope="col">Style </th>
                            </tr>

                        </thead>
                        @foreach (FestivalSiteWeb.Models.Artiste art in artiste)
                        {
                            <tbody>

                                <tr>
                                    <th scope="row">  @art.Nom
                                    <th />
                                    <th>@art.PaysOrigine</th>
                                    <th>@art.Style</th>
                                </tr>

                            </tbody>

                        }
                    </table>

                </div>
            </div>
        </main>
    </blockquote>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>