﻿
@{
    ViewBag.Title= "ProgrammationFestival";
    ICollection<FestivalSiteWeb.Models.Programmation> Programmes = (ICollection<FestivalSiteWeb.Models.Programmation>)ViewData["Programmations"];
    ICollection<FestivalSiteWeb.Models.Scene> Scenes = (ICollection<FestivalSiteWeb.Models.Scene>)ViewData["Scenes"];

}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/css/album.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/carousel.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

    <title>Programmation Festival</title>
</head>
<body>
    <h2>Programmation festival</h2>
    <hr class="featurette-divider">
    <div class="row espace">
        <div style="text-align: center" class="col-lg-7 espace">

            <table style="width:100%">
                <thead>
                    <tr style="color: darkred;">
                        <th scope="col" style="color:white">Id </th>
                        <th scope="col">Heure </th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Scènes</th>
                    </tr>

                </thead>
                @foreach (FestivalSiteWeb.Models.Programmation plan in Programmes)
                    @foreach (FestivalSiteWeb.Models.Scene floor in Scenes)
                    {
                        <tbody>

                            <tr>
                                <th />
                                <th>@plan.Heure </th>
                                <th>@plan.Lieu</th>
                                <th>@floor.Nom</th>
                            </tr>

                        </tbody>

                    }
            </table>
        </div>

    </div>

    <input type="button" value="Retour à la page d'accueil" onclick="window.location.href='/Home/Index'" /><br /><br />


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>