﻿@model IEnumerable<FestivalSiteWeb.Models.Festival>


<div id="mid">
    <h1>Liste des festivals:</h1>
</div>


<div id="first">
    <div id="space-left">
        <div id="mid">

            <div id="space-bottom">
                <h3>
                    Ici vous pouvez voir tous les festivals qui auront lieu dans la région Normandie.
                    Si vous êtes intéressé par un festival en particulier, vous pouvez voir tous les participants inscrits.

                    Si vous êtes intéressé par un artiste du festival en particulier, vous pouvez regarder ses heures et lieux de  prestations.
                </h3>
            </div>

        </div>
        @foreach (var item in Model)
        {
            if (item.IsPublic == true)
            {

                <div class="row" id="space-left">
                    <div class="row">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </h2>
                    </div>
                </div>
                <div class="row" id="mid">
                    <p>
                        <h3>
                            The festival @Html.DisplayFor(modelItem => item.Nom) va commencer le  @Html.DisplayFor(modelItem => item.Date). Il aura lieu dans  @Html.DisplayFor(modelItem => item.Emplacement).
                            Hurry up! Last @Html.DisplayFor(modelItem => item.NombreDeVentes) places vendus!!!
                        </h3>
                    </p>
                </div>

                <!--</div>-->
                <div class="row" id="borderbottom">
                    <span>
                        <h3>
                            <a href="../Festivalier/InscriptionFestivalier?fname=@item.Nom">
                                @*<input type="button" value="S'inscrire" />*@
                                <input type="button" class="btn btn-secondary btn-lg" value="S'inscrire" />
                            </a>
                        </h3>
                    </span>

                    <span>
                        <h3>
                            <a href="../Festivalier/ConnexionFestivalier?fname=@item.Nom">
                                <input type="button" class="btn btn-secondary btn-lg" value="Se connecter" />
                            </a>
                        </h3>
                    </span>
                </div>
            }
        }
    </div>
</div>